{% extends "doc.html" %}
{% import "fragment_utils.html" as fragment %}


{% block header %}
<h1 class="title"> LAM property specification </h1>
        <h2>[Standard specification]</h2>
        <div class="authors col-span">
            <div class="author">
                <div>Publications Office of the European Union </div>
            </div>
        </div>
{% endblock %}


{% block main %}
    <h1>Property definition</h1>
    {% for concept in data["skos:Concept"] %}
        {{ fragment.build_concept(concept) }}
    {% endfor %}

{% endblock %}

