{#
    this template expects the variable
    * class - definition of the class object
    * lvl - level of the H# header
#}

{% import "fragment_utils.html" as fragment %}

<h{{ lvl }} id="{{ class["iri"] }}">
    {{ class["skos:prefLabel"] }}<sup title="Class">[Cls]</sup>
</h{{ lvl }}>

<section>
    {% with resource = class %}
        {# transferting the variable name #}
        {% include "common/metadata.html" with context %}
        {% include "common/editorial_content.html" with context %}
    {% endwith %}

    {% include "lam_class/class_metadata_formal.html" with context %}
</section>